@model IEnumerable<VaWorks.Web.Data.Entities.ShoppingCartItems>

    @{
    ViewBag.Title = "Cart";
    }

    <h2>Current quote</h2>

    @if (Model.Count() > 0) {
        <h3>
            @if (@Model.ElementAt(0).QuoteNumber != null) {
                <p>Quote Number @Model.ElementAt(0).QuoteNumber</p>
            }
        </h3>}


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kit.KitNumber)
            </th>
            <th>
                Valve
            </th>
            <th>
                Actuator
            </th>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Kit != null) {
                @Html.DisplayFor(modelItem => item.Kit.KitNumber)
                } else {
                <div class="text-danger">The kit is not longer available.</div>
                }
            </td>
            <td>
                @if (item.Valve != null) {
                @item.Valve.ToString()
                } else {
                <div class="text-danger">The valve is not longer available.</div>
                }
            </td>
            <td>
                @if (item.Actuator != null) {
                @item.Actuator.ToString()
                } else {
                <div class="text-danger">The actuator is not longer available.</div>
                }
            </td>
            <td>
                <div class="form-inline">
                    @using (Html.BeginForm("UpdateQuantity", "ShoppingCartItems", FormMethod.Post, new { id = "myForm" + item.ShoppingCartItemId })) {
                    <input type="hidden" value="@item.ShoppingCartItemId" name="shoppingCartItemId" />
                    <div class="form-group">
                        <input type="number" value="@item.Quantity" class="form-control" name="quantity" style="width: 100px;" onchange="submit(@item.ShoppingCartItemId)" />
                        @*<input value="Update" type="submit" class="btn btn-link" />*@
                    </div>
                    }
                </div>
            </td>
            <td>
                <div class="form-inline">
                    @using(Html.BeginForm("RemoveItem", "ShoppingCartItems", FormMethod.Post)) {
                    <input type="hidden" value="@item.ShoppingCartItemId" name="shoppingCartItemId" />
                    <input type="submit" value="Remove" class="btn btn-link" />
                    }
                </div>
            </td>
        </tr>
        }

    </table>

<div class="pull-left">
    <p>
        @Html.ActionLink("Add Kit to Quote", "Index", "KitSelection", null, new { @class = "btn btn-primary" })
    </p>
</div>
    <div class="pull-right">

        <p>
            <div class="form-inline">
                @using(Html.BeginForm("SubmitQuote", "ShoppingCartItems")){
                <input id="title" class="form-control" type="text" name="title" placeholder="Title (Required)" />
                <input id="submitButton" class="btn btn-default" type="submit" value="Submit Quote" />
                }

            </div>

        </p>
    </div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#submitButton').prop('disabled', true);
            $('#title').keyup(function () {
                $('#submitButton').prop('disabled', this.value == "" ? true : false);
            })
        });

        function submit(id){
            document.getElementById("myForm" + id).submit();
        }
    </script>
    
    }