@model VaWorks.Web.Data.Entities.ApplicationUser

@{
    ViewBag.Title = "VaWorks";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<h3>Profile</h3>
<div class="row">
    @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="col-md-3">
            <div class="text-center">
                @if (string.IsNullOrEmpty(Model.ImageString)) {
                    <img src="~/images/profiledefault.png" class="avatar img-circle" alt="avatar">
                } else {
                    <img src="@Model.ImageString" class="avatar img-circle" alt="avatar">
                }
                <h6>Upload a different photo...</h6>

                <input type="file" name="file" class="form-control">
            </div>
        </div>
        <div class="col-md-9 personal-info">
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User name", type = "text", disabled = true })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "First name", type = "text" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Job title", type = "text" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", type = "email" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Phone", type = "phone" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LinkedIn, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.LinkedIn, new { @class = "form-control", placeholder = "LinkedIn", type = "text" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Facebook, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Facebook, new { @class = "form-control", placeholder = "Facebook", type = "text" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Twitter, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Twitter, new { @class = "form-control", placeholder = "Twitter", type = "text" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Skype, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Skype, new { @class = "form-control", placeholder = "Skype", type = "text" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2 col-md-offset-3" style="margin-top: 15px;">
                    <input type="submit" class="btn btn-primary form-control" value="Save" />
                </div>
            </div>
        </div>
    }
</div>