@model VaWorks.Web.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {

        <h2>Register</h2>
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.InvitationCode, new { @class = "col-md-2 control-label" })
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.InvitationCode, new { @class = "form-control", placeholder = "Invitation Code", type = "email" })
            </div>
        </div>
            <hr />

        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User name", type = "text" })
            </div>
        </div>
        <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-2">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-2">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", type = "password" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First name", type = "text" })
            </div>
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last name", type = "text" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", type = "email" })
            </div>
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Phone", type = "email" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 col-md-offset-2" style="margin-top: 15px;">
                <input type="submit" class="btn btn-primary form-control" value="Register" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.ActionLink("Login", "Login") | @Html.ActionLink("Request Access", "Register")
            </div>
        </div>

    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
