@model VaWorks.Web.Data.Entities.Kit

<h3>Are you sure you want to remove this kit from this organization?</h3>
<div>
    <h4>Kit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KitNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KitNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValveInterfaceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValveInterfaceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActuatorInterfaceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActuatorInterfaceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KitMaterialId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KitMaterialId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KitOptionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KitOptionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        
        <div class="form-actions no-color">
            <input type="hidden" name="kitId" value="@Model.KitId"/>
            <input type="hidden" name="organizationId" value="@ViewBag.OrganizationId"/>
            <input type="submit" value="Remove" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
