@model VaWorks.Web.DataAccess.Entities.Valve

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Valve</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InterfaceCodeEntity.InterfaceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterfaceCodeEntity.InterfaceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ValveId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
