@model VaWorks.Web.Data.Entities.Organization
@{
    ViewBag.Title = "Import Valves";
}

<h2>Import Valves to @Model.Name</h2>

<p>
    @Html.ActionLink("Back", "Details", "Organizations", new { id = Model.OrganizationId }, null)
</p>

<div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#import" data-toggle="tab" aria-expanded="true">Import From File</a></li>
        <li class=""><a href="#copy" data-toggle="tab" aria-expanded="false">Copy Valves From Another Organization</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="import">
           @using (Html.BeginForm(actionName: "ImportValves", controllerName: "Valves", method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" })) {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(m => Model.OrganizationId)
                <p>To import a large number of valves you can upload a tab separted text file formatted as follows.</p>
                <p> </p>
                <p>Column 1: <i>Manufacturer</i></p>
                <p>Column 2: <i>Model</i></p>
                <p>Column 3: <i>Size</i></p>
                <p>Column 4: <i>Interface Code</i></p>
                <div class="form-group">
                    @Html.Label("", "Import File", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="file" id="file1" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Import" class="btn btn-default" />
                    </div>
                </div>
            </div>
           }
        </div>

        <div class="tab-pane fade in" id="copy">
            
            @using (Html.BeginForm(actionName: "CopyValves", controllerName: "Valves", method: FormMethod.Post)) {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => Model.OrganizationId)
                    <p>You can copy kits from one business unit to another.</p>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OrganizationId, new { @class = "control-label col-md-2" })
                        <div class="col-lg-10">
                            @Html.DropDownList("FromOrganizationId", "Select Organization")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Import" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

        </div>


    </div>
</div>


  