@model IEnumerable<VaWorks.Web.Data.Entities.Kit>

    @{
    ViewBag.Title = "Index";
    }

    <h2>All Kits <span class="badge">@Model.Count()</span></h2>

    <p>
        @Html.ActionLink("Create New", "Create") |
        @Html.ActionLink("Import Kits", "Import", "Kits", null, new { @class = "btn btn-link" }) |
        @Html.ActionLink("Update Pricing", "UpdatePricing", "Kits", null, new { @class = "btn btn-link" })
    </p>
    <div class="row">
        @using GridMvc.Html
        @Html.Grid(Model).Columns(columns => {
        columns.Add(m => m.KitNumber).Titled("Kit Number").Sortable(true).Filterable(true).SetWidth(220);
        columns.Add(m => m.Material.Name).Titled("Material").Filterable(true);
        columns.Add(m => m.Option.Name).Titled("Option").Filterable(true);
        columns.Add(m => m.Price).Encoded(false).Sanitized(false).Titled("Price").Sortable(true).Filterable(true);
        columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(m => Html.ActionLink("Delete", "DeleteProduct", new { id = m.KitId }));
        }).WithPaging(50).WithMultipleFilters().Selectable(false);
    </div>

    @section styles{
    <link href="~/Content/Gridmvc.css" rel="stylesheet">
    <link href="~/Content/gridmvc.datepicker.css" rel="stylesheet">
    <link href="~/Content/tree.css" rel="stylesheet" />
    }

    @section scripts{
    <script src="~/Scripts/gridmvc.min.js" type="text/javascript"></script>

    }
