@model IEnumerable<VaWorks.Web.DataAccess.Entities.Kit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActuatorInterfaceCodeEntity.InterfaceCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValuveIntefaceCodeEntity.InterfaceCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActuatorInterfaceCodeEntity.InterfaceCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValuveIntefaceCodeEntity.InterfaceCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KitId }) |
            @Html.ActionLink("Details", "Details", new { id=item.KitId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KitId })
        </td>
    </tr>
}

</table>
