@model VaWorks.Web.Data.Entities.Invitation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Invitation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvitationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvitationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsClaimed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsClaimed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimedEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimedEmail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
