@model IEnumerable<VaWorks.Web.Data.Entities.Invitation>

<p>
    @Html.ActionLink("Create New Invite", "Create") | @Html.ActionLink("Delete All", "DeleteInvitations")
</p>

@using GridMvc.Html
@Html.Grid(Model).Columns(columns => {
columns.Add(m => m.Company).Titled("Company").Sortable(true);
columns.Add(m => m.InvitationCode).Titled("Invitation Code");
columns.Add(m => m.Email).Titled("Email").Sortable(true);
columns.Add(m => m.CreatedDate).Titled("Sent Date").Sortable(true).RenderValueAs(m => m.CreatedDate.Date.ToShortDateString());
columns.Add(m => m.IsClaimed).Titled("Claimed").Sortable(true);
columns.Add(m => m.ClaimedDate).Titled("Claimed Date").Sortable(true).RenderValueAs(m => m.ClaimedDate.Date.ToShortDateString());
columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(m => @<form action = "Invitations/ResendInvitation" method = "post" >@if(!m.IsClaimed) {<input type = "hidden" value = "@m.InvitationId" name = "id" /> <input type = "submit" value = "Resend" class="btn btn-link"/>}</form>);
columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(m => @<form action="Invitations/DeleteInvitation" method="post"><input type="hidden" value="@m.InvitationId" name="id"/> <input type="submit" value="Delete" class="btn btn-link" /></form>);
}).WithPaging(50)
