@model VaWorks.Web.Data.Entities.Quote

<div>
    <h3>Edit Quote @Model.QuoteNumber</h3>

    <div class="form-horizontal">
        <label>Are you sure you want to edit this quote?</label>
        
    @using (Html.BeginForm("EditConfirm", "Quotes", FormMethod.Post)) {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.HiddenFor(m => m.QuoteId)
            <input type="submit" value="Edit" class="btn btn-primary" />
        </div>
    }
        <div class="form-group">
            @Html.ActionLink("Cancel", "Index", "Account", null, new { @class = "btn btn-default" })
        </div>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuoteNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Revision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>

    <hr />

    <table class="table">
        <tr>
            <th>
                Kit Number
            </th>
            <th>
                Valve
            </th>
            <th>
                Actuator
            </th>
            <th>Quantity</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Items) {
            <tr>
                <td>
                    @item.KitNumber
                </td>
                <td>
                    @item.Valve
                </td>
                <td>
                    @item.Actuator
                </td>
                <td>
                    @item.Quantity
                </td>
                <td></td>
            </tr>
        }

    </table>

    <h3 class="pull-right">
        @Model.Total.ToString("C")
    </h3>
</div>
<p>

</p>
